<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Commande Details</h5>
  <div class="card-body">
    <hr/>
    <div *ngIf="commande">
      <div style="text-align: center;">
        <label><b>Numéro Commande: </b></label> {{commande.id}}
      </div>


      <div style="text-align: center;">
        <label><b>Numéro client: </b></label> {{commande.num_telf}}
      </div>
      <div style="text-align: center;">
        <label><b>Adresse Boutique : </b></label> {{commande.adresse}}
      </div>
      <div style="text-align: center;">
        <label><b>Nom client : </b></label> {{commande.nom}}
      </div>
      <div style="text-align: center;">
        <label><b>Prénom client : </b></label> {{commande.prenom}}
      </div>

      <div style="text-align: center;">
        <label><b>Référence Produit: </b></label> {{commande.id_vo}}
      </div>
      <div style="text-align: center;">
        <label><b>Prix (DT): </b></label> {{commande.price}}
      </div>
      <div style="text-align: center;">
        <label><b>Quantité: </b></label> {{commande.quantite_produit}}
      </div>
      <div style="text-align: center;">  <b><mat-label>Prix Totale : </mat-label></b>
        {{commande.price * commande.quantite_produit}}  (DT)</div>
    </div>



    <div style="text-align: center;">
      <br>
      <button  (click)="pdf()"  class="btn btn-primary" style="margin-right: 20px;">Imprimer PDF</button>

      <button (click)="list()" class="btn btn-primary">Back to commande List</button><br>
    </div>


  </div>
</div>
